@{
    ViewData["Title"] = "Home Page";
}

<div class="content-wrap">

<div class="intro top mt-5 ">
  <div class="w-75 m-auto gap-5 d-flex justify-content-lg-between">
      <div class="left w-50">
           <h1 class="green fw-bolder">See Life In  <br /> Greater Depth and <br /> Clarity</h1>
           <p class="green mt-2 fw-normal catch_phrase">Speak to our doctors about how to improve your vision. Lorem Ipsum is simply etting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>

           <div class="d-flex gap-4">
            <form asp-controller="Services" asp-action="Index">
                <button class="p-3 rounded border-0 btn learnBtn" type="submit">Learn More</button>
            </form>
            <form asp-controller="ContactUs" asp-action="Index">
                <button class="p-3 rounded  btn contactBtn" type="submit">Contact Us</button>
            </form>
            </div>
       </div>
  <img class="eye_pic" src="~/eye_doctor.jpg" />
  </div>
</div>

<div class="condition bottom green-bg text-white">

    <div class="w-75 m-auto">
     <h2 class="text-center">Conditions We Treat</h2>
     <p class="text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    <div class="d-flex mt-5 ">
    <div class="condition  d-flex flex-column">
        <div class="yellow-circle m-auto">
        </div>
        <p class="text-center fw-bold mt-2 fs-5">Cataracts</p>
        <p class="text-center fw-lighter w-75 m-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>
        <div class="condition">
        <div class="yellow-circle m-auto "></div>
        <p class="text-center fw-bold mt-2 fs-5">Stigmatism</p>
        <p class="text-center w-75 m-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>
        <div class="condition ">
        <div class="yellow-circle m-auto"></div>
        <p class="text-center fw-bold mt-2 fs-5">Dry eyes</p>
        <p class="text-center w-75 m-auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>
    </div>
    </div>

</div>
</div>
