@{
    ViewData["Title"] = "Home Page";
}


<div class="intro mt-5">
  <div class="border w-75 m-auto gap-5 d-flex justify-content-lg-between">
  <div class="left w-50">
  <h1 class="green fw-bolder">See Life In  <br /> Greater Depth and <br /> Clarity</h1>
  <p class="green mt-2 fw-normal catch_phrase">Speak to our doctors about how to improve your vision. Lorem Ipsum is simply etting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
  </div>

    <img class="eye_pic" src="~/eye_doctor.jpg" />

    </div>

    <div>
        <button></button>
        <button></button>
    </div>
</div>

<div class="conditions">
    <h2>Conditions We Treat</h2>

    <div class="condition">
        <p>Cataracts</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>


    <div class="condition">
        <p>Stigmatism</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>

    <div class="condition">
        <p>Dry eyes</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
    </div>

</div>
