html {
  font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size:4rem;
}

:root {
    --green: #2B6A4A;
}


.green {
    color: var(--green);
}

.yeet {
    color: var(--green);
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

hr {
   
    border:none;
    color:var(--green);
}

.yeet:hover {
    color: #1f4d36;
}

.intro {
    background-color: #f2f4ea;
}

.eye_pic {
    width: 45%;
    height: 100%;
}